* {
    background-color: #fff;
  }
  .successBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 102px;
    height: 38px;
    background: #0b7d77;
    border-radius: 4px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .border-m {
    border-bottom: 1px solid #0b7d77;
  }
  .editTitle {
    width: 100%;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0b7d77;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .navbar,
  .container {
    border-bottom: 1px solid #c5c7d0;
  }
  .container {
    padding: 16px 0;
  }
  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffff;
    li {
      list-style-type: none;
      align-items: center;
      .radiosGreen {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0b7d77;
        border: 2px solid #0b7d77;
        border-radius: 100%;
        margin-right: 12px;
        color: #fff;
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }
      .nth-1 {
        background-color: #0b7d77 !important;
        border-radius: 100% !important;
      }
      .radiosGray {
        /* H4 */
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #676879;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        border: 2px solid #c5c7d0;
        border-radius: 100%;
      }
      .dash {
        width: 80px;
        border: 2px solid #c5c7d0;
        margin: 0 16px;
      }
    }
    .progressText {
      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #323338;
    }
  }
  .navbarText {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #323338;
    margin-right: 10px;
  }
  .navbar {
    padding: 29px 72px;
  }
  .navImg {
    margin-right: 20px;
    cursor: pointer;
  }
  @media (max-width: 570px) {
    .progressText,
    .dash {
      display: none;
    }
    li:nth-child(2) > .progressText {
      display: inline-block;
      margin: 0 66px 0 10px;
    }
  }